@model SzParag.Models.Transaction

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Transaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Memo" class="control-label"></label>
                <input asp-for="Memo" class="form-control" />
                <span asp-validation-for="Memo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Income" class="control-label"></label>
                <input asp-for="Income" class="form-control" />
                <span asp-validation-for="Income" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Outcome" class="control-label"></label>
                <input asp-for="Outcome" class="form-control" />
                <span asp-validation-for="Outcome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category1" class="control-label"></label>
                <input asp-for="Category1" class="form-control" />
                <span asp-validation-for="Category1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category2" class="control-label"></label>
                <input asp-for="Category2" class="form-control" />
                <span asp-validation-for="Category2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category3" class="control-label"></label>
                <input asp-for="Category3" class="form-control" />
                <span asp-validation-for="Category3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
